#titulo {font-family: 'Rubik', sans-serif; 
		color: red; 
		text-align: center; 
		}
.fuente300 {font-family: 'Rubik', sans-serif; font-weight: 300;}
.fuente400 {font-family: 'Rubik', sans-serif; font-weight: 400;}
.fuente700 {font-family: 'Rubik', sans-serif; font-weight: 700;}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
		}

.right{

  width: 30%;
  position: absolute;
  right: 300px;
}

.titulo{
	font-family: 'Rubik', sans-serif; font-weight: 400;
	font-size: 40px;
	text-align: center;
}

.parrafo{
	font-family: 'Rubik', sans-serif; font-weight: 300; 
	font-size: 20px;
	margin-left: 100px;
  	padding: 10px;
  	width: 600px;
  	height: 450px;
  	text-align: justify;
  	
}


h3 {color: blue;}
p {font-family: 'Rubik', sans-serif; }